@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    background-image: url('https://img.freepik.com/premium-photo/3d-illustration-shoe-store-minimal-modern-style-interior-design-2_1315076-1026.jpg?w=740');
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #1c235b;
  }

  /* public/stylesheets/style.css */

.index-body {
    background-image: url('https://img.freepik.com/premium-photo/beautiful-wardrobe-with-transparent-shoeboxes_1354518-9075.jpg?w=740');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    color: white;
  }
  
  .main-header {
    font-weight: bold;
    color: white;
    font-size: 5.6em;
    margin: -160px 20px 0 20px;
  }
  
  .subheader {
    margin: 0 20px 0 20px;
    font-size: 1.4em;
  }
  
  .index-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .auth-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 80px 0 0;
    height: 100%;
  }
  
  .signup-link,
  .signin-link {
    text-decoration: none;
    font-size: 1.5em;
    padding: 8px 0;
    border-radius: 25px;
    width: 10em;
    text-align: center;
  }
  
  .signup-link {
    background-color: #1c235b;
    color: white;
    margin: 0 0 20px 0;
  }
  
  .signup-link:hover {
    background-color: #52dcff;
  }
  
  .signin-link {
    background-color: #f6e7e7;
    color: #1c235b;
    margin: 20px 0 0 0;
  }
  
  .signin-link:hover {
    background-color: #ffffff;
  }
  
  
.signin-container,
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

h1 {
  color: #ffffff;
}

  form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20em;
  height: 10%;
  padding: 0px 20px 15px 20px;
  border-radius: 20px;
  color: #52dcff;
  font-weight: bold;
}  

input {
  border: 1px solid rgb(182, 182, 182);
  padding: 8px;
  border-radius: 10px;
}

button {
  padding: 10px;
  background-color: #1c235b;
  color: white;
  border-radius: 30px;
  border: none;
  margin: 15px 0;
  font-size: 1.1em;
}

.all-shoes-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .all-shoes-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 90%;
  }

  .shoe-entry {
    text-align: center;
  }
  
  .add-shoes-link {
    padding: 10px;
    background-color: #52dcff;
    color: white;
    border-radius: 30px;
    border: none;
    font-size: 1.1em;
    padding: 2px 25px;
    text-decoration: none;
  }

  .shoe-select-link {
    color: #52dcff;
    font-size: 30px;
  }

  .shoe-select-link img {
    width: 100px;
    height: auto;
  }
  
  .add-shoes-link:hover {
    background-color: #52dcff;
  }
  
ul {
    list-style: none;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
   /* ul > a {
    text-decoration: none;
    color: #1c2e5b;
    width: 50%;
    background-color: #f6e7e7;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 15px 0;
    font-weight: bold;
    text-align: center;
  }  */
  
  ul > a:hover {
    background-color: #4b598e;
    color: white;
  }
   

  /* public/stylesheets/style.css */

.new-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.new-body > form,
.edit-body > form {
  height: 70%;
}

textarea,
select {
  border: 1px solid rgb(182, 182, 182);
  border-radius: 10px;
  padding: 10px;
}

select {
  margin-bottom: 10px;
}

.edit-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.error-message {
  text-align: center;
  font-size: 10px;
  margin-bottom: 0px;
}

.user-show-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #52dcff;
  text-align: center;

}

.user-show-text img {
  width: 100px;
  height: auto;
}

